.container-student {
    text-align: center;
}

.description-text {
    font-size: 17px;
    padding-bottom: 20px;
}

.question-center {
    text-align: center;
}

.answer-button {
    float: right;
    vertical-align: -webkit-baseline-middle;
}